<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Semantic Knowledge Graph</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
    </head>
    <body>
        <div id="container"></div>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <!--<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>-->
        <script src="static/graph.js"></script>
    </body>
</html>